* {
    box-sizing: border-box;
}

body {
    background: url(./Media/subway1.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 250px;
    font-size: 50px;
    color:#4c00a4;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 80px;
    color: #ff7f50;
}

div {
    display: block;
    background-color: whitesmoke;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: larger;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#save-btn {
    background: #8a2be2;
    color: #fff;
    border: #30043d 1px solid;
}

#save-btn:hover {
    background: #fff;
    color: #8a2be2;
}

#increment-btn {
    background: #30043d;
    border: #0e0112 1px solid;
    color:#fff;
}

#increment-btn:hover {
    background: #fff;
    color: #30043d;
}

p {
    color: #fdb36a;
    font-weight: bolder;
    font-size: 40px;
}