* {
    box-sizing: border-box;
}

body {
    background: url(./Media/subway1.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:normal;
    text-align: center;
    height: 100vh;
    margin-top: 50px;
}

h1 {
    margin-top: 5px;
    padding: 30px 20px 0px 20px;
    font-size: 45px;
    color:#4c00a4;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 70px;
    color: #ff5517;
}

#container {
    display: block;
    background-color: #f1eff7;
    max-width: 35%;
    margin: auto;
    border: #30043d 3px solid;
    border-radius: 10px;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: medium;
    width: 200px;
    margin: 10px 30px 10px 30px;
    border-radius: 5px;
}

#save-btn {
    background: #8a2be2;
    color: #fff;
    border: #853e9a 1px solid;
}

#save-btn:hover {
    color: #Fff;
    background: #ff5517;
    border: #EDA8A8 1px solid;
}

#increment-btn {
    background: #30043d;
    border: #0e0112 1px solid;
    color:#fff;
}

#increment-btn:hover {
    color: #Fff;
    background: #ff5517;
    border: #EDA8A8 1px solid;
}

#clear-btn {
    background: #a120aa;
    color: #fff;
    border: #804a91 1px solid;
}

#clear-btn:hover {
    color: #Fff;
    background: #ff5517;
    border: #EDA8A8 1px solid;
}

p {
    color: #ff5517;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 25px 50px 25px;
    margin: 20px 30px 30px 30px;
}
